.App {
  text-align: center;
  background: linear-gradient(90deg, #bda8eb, #e8c5ed, #d8b3a5, #5576ae, #d095b2);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
	align-items: center;
  justify-content: center;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.iframeWrapper iframe,
.iframeWrapper object,
.iframeWrapper embed {
	position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
	max-width: 100%;
	max-height: 100%;
}
